<!DOCTYPE html>
<html>
<body>

<h2 style="background-color:#000000;color:blue">
This is the home page of the app
</h2>

<h2 style="background-color:#808080;color:white">
Alpha Blog
</h2>

<h2 style="background-color:#FFFFFF;">
To create articles 
</h2>

</body>
</html>


<%= link_to 'Create Articles', articles_path %> |
<%= link_to 'Go To About', about_path %>
<% link_to image_tag('Mobile2.jpeg'), 'www.mashrurhossain.com' %>

