<!DOCTYPE html>
<html>
<body>

<h2 style="background-color:#000000;color:white">
This is the HOME PAGE
</h2>

<h2 style="background-color:#808080;color:white">
Color
</h2>

<h2 style="background-color:#FFFFFF;">
Background-color 
</h2>

</body>
</html>

<%= link_to 'Go To About', about_path %>
<%= link_to image_tag('image1.png'), 'www.mashrurhossain.com' %>

